body
{
	background-image: url("SourceImgs/legoBack.png");
	margin: 0;
	color: white;
}

header
{
	background: #b40e32;
	margin: 0;
	padding: 15px 15px 0 15px;
	border: 1px solid black;

}

header h1
{
	margin: 0;
	display: inline;
}

nav ul
{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li
{
	display: inline-block;
	list-style-type: none;
	background: black;
	padding: 5px 15px;
	margin: 0;
	font-size: 20px;
}

nav ul li a, a
{
	color: white;
}

.row:after
{
	clear: both;
	content: " ";
	display: table;
}
.col
{
	background: #333;
	float: left;
	padding: .5% .5% .5%;
	margin: 0;
	width: 19%;
	height: 33%;
	opacity: 90%;
	text-align: center;
}

.catButtons{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catButtons li{
  float: left;
  margin: none;
  width: 100px;
  height: 45px;
  position: relative;
}

.catButtons label, .catButtons input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.catButtons input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.catButtons input[type="radio"]:checked+label, .Checked+label {
  background: #333;
}

.catButtons label {
  padding: 5px;
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
  z-index: 90;
  background-color: #182335;
}

.catButtons label:hover {
  background: #ddd;
}

/* Clear floats */
.catButtons:after {
  content: "";
  clear: both;
  display: table;
}

.catButtons li:not(:last-child){
	border-right: none;
}